<h1>page2</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor numquam fugit maxime itaque tempore laboriosam, nostrum architecto autem! Quibusdam consectetur aperiam recusandae quod asperiores cupiditate nihil distinctio sapiente blanditiis nobis?</p>
