<%= render 'shared/flashes' %>

<div class="container page2">

  <div class="topbar">
    LOGO
  </div>

  <div class="menu" data-sticky>
    <a href="#">Item 1</a>
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <a href="#">Item 4</a>
    <a href="#">Item 5</a>
  </div>

  <div class="" style="height:4400px">
    <div class="content">
      <div class="main">
        <h1>I m Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum animi iure, architecto, perferendis praesentium itaque aut odit quo laudantium distinctio laboriosam ipsa similique optio velit esse officiis blanditiis dicta?</p>
        <div class="" style="background-color:#d5d5d5; height: 4000px"></div>
      </div>
      <div class="sidebar">
        <div class="side-block" data-sticky data-offset="62">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sint laborum vel ea pariatur quisquam architecto. Praesentium doloribus quasi cumque cupiditate? Dignissimos fuga enim totam, adipisci sint aliquam quaerat quisquam?</p>
          <%= link_to 'home', root_path , class:"btn btn-dark" %>
        </div>
      </div>
    </div>
  </div>


</div>
